<% @title = "signup form" %> 

<% if @user.errors.any? %> 
  <% @user.errors.full_messages.each do |msg|  %> 
    <%= msg %> 
  <% end %> 
<% end %> 


<h2> sign up  </h2>
<%= form_for @user do |f| %> 
<p> 
  <%= f.label :name %> <br> 
  <%= f.text_field :name %> 
</p> 
<p>
  <%= f.label :email %> <br> 
  <%= f.text_field :email,:class => 'form-control' %> 
</p>
<p>
  <%= f.label :password %> <br> 
  <%= f.password_field :password,:class => 'form-control' %> 
</p>
<p> 
  <%= f.label :password_confirmation %><br> 
  <%= f.password_field :password_confirmation,:class => 'form-control' %> 
</p> 
<p class ="button"> <%= f.submit %></p> 
<% end %> 