<% @title = 'submit story' %> 
<% if @story.errors.any? %> 
    <% @story.errors.full_messages.each do |msg| %> 
    <div class ="alert-warning"> <%= msg %> </div>
    <% end %> 
  <% end %> 
  

<%= form_for( @story) do |f| %>
  <p> <%= f.label :name %> </p>  
  <%= f.text_area :name ,:class => "form-control" %> <br> 
  <p><%= f.label :description %> </p>
  <%= f.text_area  :link ,:class => "form-control" %> <br>
  <p> <%= f.submit %> </p>
<% end %> 