<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Reddit </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Stories', stories_path %> </li>
      <li><%= link_to 'Submit link',new_story_path %> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if @current_user %>

      <li> <%= link_to  @current_user.name,user_path(@current_user.id) %></li>
      <li><%= link_to 'logout',session_path,method: :delete %> </li>
    <% else %> 
       <li><%= link_to 'sign up',new_user_path   %> </li>
        <li><%= link_to 'login',new_session_path %></li>
    <% end %> 


    </ul>
  </div>
</nav>