<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Reddit </a>
    </div>
    <ul class="nav navbar-nav">
      <li class = <% if controller.controller_name == "stories" and controller.action_name == "index" %> "active" <% end %> ><%= link_to 'Home', stories_path %> </li>
      <li class = <% if controller.controller_name == "stories" and controller.action_name == "new" %> "active" <% end %> > <%= link_to 'Submit link',new_story_path %> </li>
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if @current_user %>

      <li  class = <% if controller.controller_name == "users" and controller.action_name == "show" %> "active" <% end %>> <%= link_to  @current_user.name,user_path(@current_user.id) %></li>
      <li><%= link_to 'logout',session_path,method: :delete %> </li>

    <% else %> 
       <li><%= link_to 'sign up',new_user_path   %> </li>
        <li><%= link_to 'login',new_session_path %></li>
    <% end %> 


    </ul>
  </div>
</nav>